*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.container{
background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);    width:100%;
    height:100vh;
    padding:10px;
}

.todo{
    width: 100%;
    max-width: 600px;
    background-color: rgb(255, 255, 255);
    margin:100px auto 20px;
    padding:40px 30px 70px;
    border-radius: 10px;

}

.todo h2{

    display:flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo h2 img{
    width:30px;
    margin-left:10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex:1;
    border:none;
    outline:none;
    background:none;
    padding:10px;
}

button{
    border:none;
    outline: none;
    padding:10px 30px;
    background: #ff5945;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    padding:17px 40px;
    cursor: pointer;
    user-select:none;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image:url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
      position: absolute;

       background-image:url(checked.png);
       height: 23px;
       width: 23px;
       top:17px;

}

ul li span{
    position: absolute;
    right:0px;
    top:5px;
    width: 30px;
    height: 33px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
   background: #edeef0;
}
